header {

    .header-middle {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__logo {
            width: 220px;
            height: 220px;
            border-radius: 110px;
        }

        &__title {
            display:flex;
            justify-content:center;
            align-items:center;

            &__team {
                margin:20px;
                align-self:center;
            }
        }
    }

    .header-bottom {
        display: flex;
        flex-direction:column;
        align-items:center;
        margin:0 5% 0 5%;

        &__meteo{
            display:flex;
            flex-direction:column;
            width:100%;
            border-bottom: 2px solid $main-color;
            

            &__position {
                text-align:center;
                font-size:1.4em;
                padding:10px 0 0px 0;
                margin:0 0 15px 0;
                border-top : 2px solid $main-color;

            }

            &__informations{
                display:flex;
                flex-direction:row;
                justify-content:space-around;
                font-weight:bold;

                &__temperature{
                    border-top:2px solid $main-color;
                    border-right:2px solid $main-color;
                    border-left:2px solid $main-color;
                    border-radius:5px;
                    padding:8px 8px 0 8px;
                }

                &__state{
                    border-top:2px solid $main-color;
                    border-right:2px solid $main-color;
                    border-left:2px solid $main-color;
                    border-radius:5px;
                    padding:8px 8px 0 8px;
                }

            }
        }           
        }
    }
        