.rules{
    /*padding-top: 2%;
    padding-left:3%;
    padding-right:3%;
    margin-bottom:50px;
    &__title{
        margin-bottom:50px;
    }
    &__position{
        display:flex;
        flex-direction:column;
        align-items:center;
        &__image{
            width:90%;
            display:block;
            //margin:auto;
            margin-bottom: 5%;
            @media only screen and (min-width: $tablette) {
                width:60%;
            }
            @media only screen and (min-width: $dekstop) {
                width:25%;
            }
            
        }
        @media only screen and (min-width: $dekstop) {
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            
        }

        &__text{
            @media only screen and (min-width: $dekstop) {
                width:30%;
            }
            p{
                @media only screen and (min-width: $tablette) {
                    width:100%;
                    margin:auto;
                    padding-bottom:10px;
    
                    
                }
                @media only screen and (min-width: $dekstop) {
                    width:80%;
                }
                span{
                    font-weight:bold;
                    text-decoration:underline;
                }
            }
        }

        
    }*/

    img{
        width:90%;
        margin: 2% 5% 5% 5%;
        box-shadow: 3px 10px 10px $second-color;
    }
    
}