@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arya&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
* {
    font-family :  'Arya', sans-serif;
    box-sizing: border-box;
}

body{
    background: radial-gradient(lighten($main-color, 65), lighten($second-color, 65));
}
.wrapper{
   
    //background-color:lighten($second-color, 65);
    //background-image:linear-gradient(to right, $main-color 0%, lighten($main-color, 50) 10%, lighten($main-color,55) 30%, lighten($main-color, 65) 50%, lighten($second-color, 50) 70%, lighten($second-color, 55) 90%, $second-color 100%);
    //background-image:linear-gradient(to right,$main-color 0%, white 10%, white 90%, $main-color 100%);
    color: $second-color;
    width:100%;
    margin-top:50px;
    background-image: url('../images/cyrille.png') ;
    background-position:center ;
    background-repeat:no-repeat; 
    background-attachment:fixed;
    background-size:contain;
}

h1 {
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    text-align:center;
    font-size: 1.5em !important;
    @media only screen and (min-width: $tablette) {
        font-size: 2em!important;

    }
    @media only screen and (min-width: $dekstop) {
        font-size: 2.5em!important;

    }
}
h2{
    text-align:center;
    text-transform:uppercase;
    font-size:1.7em !important;
    //font-family: 'Bangers', cursive;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
hr {
    //padding : 20px 90px ;
    width: 70%;
    border-top:4px solid lighten($second-color, 20)!important;

}

