.section-articles{

    .category{
        max-width: 100%;
        display:flex;
        justify-content:center;
        font-size: 1.3em;
        border-top : $second-color 3px solid;
        border-bottom : $second-color 3px solid;
        margin: 20px;

        
        a{
            margin: 5%;
            color:$second-color;
            margin:20px 5%;

            &:hover{
                color: $main-color;
                font-size: 1.1em;
                transition-duration: 0.3s;
                
            }
        }
        
    }
}