.menu-open {
    width:70%!important;
    transition-duration:1.3s;

    @media only screen and (min-width: $tablette) {
        width:45%!important;
    }
    
}

.menu {
    display:flex;
    flex-direction:row;
    position:fixed;
    right:0px;
    width:0%;
    transition-duration:1.3s;
    z-index: 10000;



    .button-menu {
        width:40px;
        height:50px;
        border:2px solid $second-color;
        border-right:none;
        margin-right:-1px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        //background-color: rgba(lighten($main-color, 10), 1);
        background-image: radial-gradient(circle at center, rgba(lighten($main-color, 35), 0.7),lighten($main-color, 10));
        position:relative;
        top:50px;
        margin-left:-40px;
        display:flex;
        align-items:center;
        cursor:pointer;

        @media only screen and (min-width: $tablette) {
            width:60px;
            height:70px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-left:-60px;
        }

        &__icone{
            
            //background-color:$second-color;
            width:100%;
            margin:auto;
            text-align:center;
            font-size : 2.3em;
            color:$second-color;
            transition-duration: 1.3s;

            @media only screen and (min-width: $tablette) {
                font-size:2.7em;
            }
            
        }

        .rotate {
            transform:rotate(180deg);
            transition-duration: 1.3s;
        }
        
        
    
        
    }

    .content-menu {
        height:100vh;
        border-left: 2px solid $second-color;
        //background-color:rgba(lighten($main-color, 10), 0.8);
        background-image: radial-gradient(circle at center, rgba(lighten($main-color, 35), 0.8),lighten($main-color, 10));
        width:100%;
        position:absolute;
        right:0;
        
        
        

        ul {
            list-style:none;
            display:flex;
            flex-direction:column;
            justify-content:space-around;
            padding-inline-start:0px!important;
            height:100vh;
            margin:0;
            

            li {
                text-align:center;
                color:$second-color;
                font-weight:bold;
                width:50%;
                margin:auto;
                border-bottom:1 px solid black;
            }
        }

        img{
            width:30%;
            position:absolute;
            top:5px;
            left:5px;
        }
        
    }
    
    .open {
        display:inline-block;
    }
}